.Body_AboutDetails {
    display: flex;
    flex-direction: column;
    background-color: #243e95;
}

.Body_AboutDetails-container {
    margin: 50px;
    padding: 50px;
    background-color: #4359cd;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Body_AboutDetails-container_Img_CT {
    width: 400px;
    height: 450px;
}

.Body_AboutDetails-container_Title-1 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0 0 0;
}

.Body_AboutDetails-container_Title-2 {
    color: #0094FF;
    text-align: center;
}

.Body_AboutDetails-container-text {
    min-height: 500px;
    color: white;
}

@media screen and (max-width: 500px) {
    .Body_AboutDetails-container {
        margin: 0px;
        padding: 20px;
        background-color: #232F3E;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .Body_AboutDetails-container_Img_CT {
        width: 300px;
        height: 300px;
    }
}